{%extends 'base.html'%}

{%load static%}

{% block body %}
<script src='{% static "js/questions.js" %}'></script>
<body onLoad="main('{% static 'img/rectangulo.svg' %}','{% static 'img/brown-papyrus-paper.png' %}')"  style="background-image: url('{% static 'img/fantasy-g2b23faad5_1920.jpg' %}');  background-repeat:no-repeat;   background-attachment: fixed;background-size: 100% 100%;" >
    <p id='questionsList' hidden>{{questions}}<p>
    <main>
     
    
        <div class="container mt-5" >
            <div class="row">
                <div class="col-md-12">
                    <div id="card_question"></div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
{%endblock%}
